.vscode
c/loops.out
crystal/loops
csharp/bin
csharp/obj
fsharp/bin
fsharp/obj
haskell/*
!haskell/loops.hs
!haskell/loops-recursive.hs
java/Loops.class
kotlin/loops.jar
ocaml/*
!ocaml/loops.ml
!ocaml/run-options.sh
rust/*
!rust/src
!rust/Cargo.toml
typescript/loops.js
vbnet/bin
vbnet/obj
