.vscode
c/loops.out
crystal/loops
csharp/bin
csharp/obj
elixir/*
!elixir/*.exs
fsharp/bin
fsharp/obj
haskell/*
!haskell/loops.hs
!haskell/loops-recursive.hs
java/Loops.class
kotlin/loops.jar
ocaml/*
!ocaml/loops.ml
!ocaml/run-options.sh
racket/*
!racket/loops.rkt
rust/*
!rust/src
!rust/Cargo.toml
scheme/*
!scheme/loops.scm
vbnet/bin
vbnet/obj
