.vscode
c/loops.out
clojure/*
!clojure/loops.clj
!clojure/parallel.clj
!clojure/readme.md
crystal/loops
csharp/bin
csharp/obj
d/*
!d/loops.d
elixir/*
!elixir/*.exs
!elixir/readme.md
fsharp/bin
fsharp/obj
gambas/*
!gambas/.src
!gambas/.project
haskell/*
!haskell/loops.hs
!haskell/loops-recursive.hs
java/Loops.class
kotlin/loops.jar
ocaml/*
!ocaml/loops.ml
racket/*
!racket/loops.rkt
rust/*
!rust/src
!rust/Cargo.toml
scala/*
!scala/Loops.scala
scheme/*
!scheme/loops.scm
vbnet/bin
vbnet/obj
